<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="18"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp-mail.outlook.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="hodachuy123@outlook.com"/>
  <add key="FromEmailPassword" value="Daihocvanlang123"/>
  <add key="FromName" value="HuyShop"/>
  <add key="AdminEmail" value="hodachuy123@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:64283/"/>
  <add key="EnableBundles" value="false"/>

</appSettings>
